<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note learner</title>
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>
    <main class="container">
        <h1 class="title">Note Learner</h1>
        <h2 class="note"></h2>
        <button class="button button_start">Start</button>




        <div class="fretboard fretboard_dark">

            <table cellspacing="0" cellpadding="0">
                <tr class="frets">
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                    <td class="fret"></td>
                </tr>
            </table>

            <div class="dots">
                <div class="dot dot__3"></div>
                <div class="dot dot__5"></div>
                <div class="dot dot__7"></div>
                <div class="dot dot__9"></div>
                <div class="dot dot__12_1"></div>
                <div class="dot dot__12_2"></div>
            </div>
            
            <div class="bars hide">
                <div class="bar bar__3"></div>
                <div class="bar bar__5"></div>
                <div class="bar bar__7"></div>
                <div class="bar bar__9"></div>
                <div class="bar bar__12"></div>
            </div>


            <ul class="strings strings_bass">
                <li class="string string__g"></li>
                <li class="string string__d"></li>
                <li class="string string__a"></li>
                <li class="string string__e"></li>
            </ul>
            <ul class="strings strings_guitar hide">
                <li class="string string__e2"></li>
                <li class="string string__b"></li>
                <li class="string string__g"></li>
                <li class="string string__d"></li>
                <li class="string string__a"></li>
                <li class="string string__e"></li>
            </ul>

        </div>
        
        <label class="switch" >
            <input type="checkbox" role="checkbox" aria-checked="false">
            <span class="slider"></span>
            <div class="bass-option">Bass</div>
            <div class="guitar-option">Guitar</div>
        </label>

        <div class="time-selector">
            <label for="time">Interval of </label>
            <select name="time" id="time">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
            <label for="time">seconds</label>

        </div>

    </main>


    <script src="/main.js"></script>
</body>

</html>